@font-face {
    font-family: "Sriracha-Regular";
    src: url("../Font/Sriracha-Regular.ttf");
}


@font-face {
    font-family: "Calistoga-Regular";
    src: url("../Font/Calistoga-Regular.ttf");
}
